.containter{
    margin: 3% 8% 5% 8%;
}

.example-container > * {
    width: 100%;
}

.my-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-center {
    text-align: center;
    font-weight: bold;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.my-top{
    margin: 2%;
}