.containter{
  margin: 3% 8% 5% 8%;
}

.example-container {
  display: flex;
  flex-direction: column;
}
  
.example-container > * {
   width: 100%;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}



.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.my-center {
  text-align: center;
  font-weight: bold;
}

.my-inline{
  display: flex;
  margin-left: 10%;
}

.my-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.derecha {
  margin-left: auto;
}