<div class="my-container">
  <div _ngcontent-c22="" class="docs-component-category-list">
    <a _ngcontent-c22="" class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/alta']">
      <mat-card _ngcontent-c22="" class="docs-component-category-list-card mat-card">
        <mat-card-title _ngcontent-c22="" class="mat-card-title">
          Alta de Predios
        </mat-card-title>
        <mat-card-content _ngcontent-c22="" class="docs-component-category-list-card-summary mat-card-content">
          Se dan altas de predios a las provincias. 
        </mat-card-content>
      </mat-card>
    </a>
    <a _ngcontent-c22="" class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/baja']">
      <mat-card _ngcontent-c22="" class="docs-component-category-list-card mat-card">
        <mat-card-title _ngcontent-c22="" class="mat-card-title">
          Bajas de Predios
        </mat-card-title>
        <mat-card-content _ngcontent-c22="" class="docs-component-category-list-card-summary mat-card-content">
          Se dan bajas de predios a las provincias.
        </mat-card-content>
      </mat-card>
    </a>
    <a _ngcontent-c22="" class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/edit/predio']">
      <mat-card _ngcontent-c22="" class="docs-component-category-list-card mat-card">
        <mat-card-title _ngcontent-c22="" class="mat-card-title">
          Edición de Predios
        </mat-card-title>
        <mat-card-content _ngcontent-c22="" class="docs-component-category-list-card-summary mat-card-content">
          Se modifica el nombre de los predios.
        </mat-card-content>
      </mat-card>
    </a>

    <a _ngcontent-c22="" class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/repo']">
      <mat-card _ngcontent-c22="" class="docs-component-category-list-card mat-card">
        <mat-card-title _ngcontent-c22="" class="mat-card-title">
          ABM Usuarios
        </mat-card-title>
        <mat-card-content _ngcontent-c22="" class="docs-component-category-list-card-summary mat-card-content">
          Alta, baja y modificación de Usuarios.
        </mat-card-content>
      </mat-card>
    </a>
    <a _ngcontent-c22="" class="docs-component-category-list-item ng-star-inserted"  [routerLink]="['/licencias']">
      <mat-card _ngcontent-c22="" class="docs-component-category-list-card mat-card">
        <mat-card-title _ngcontent-c22="" class="mat-card-title">
          Licencias
        </mat-card-title>
        <mat-card-content _ngcontent-c22="" class="docs-component-category-list-card-summary mat-card-content">
          Cantidad disponibles en las provincias. 
        </mat-card-content>
      </mat-card>
    </a>
    <a _ngcontent-c22="" class="docs-component-category-list-item ng-star-inserted" [routerLink]="['/consumo']">
      <mat-card _ngcontent-c22="" class="docs-component-category-list-card mat-card">
        <mat-card-title _ngcontent-c22="" class="mat-card-title">
          Top Consumo
        </mat-card-title>
        <mat-card-content _ngcontent-c22="" class="docs-component-category-list-card-summary mat-card-content">
          Metricas de las provincias y sus predios. 
        </mat-card-content>
      </mat-card>
    </a>
    
  </div>
</div>