.my-container{
    text-align: center;
}

.docs-component-category-list[_ngcontent-c22] {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.docs-component-category-list-item[_ngcontent-c22], .docs-component-category-list-item[_ngcontent-c22]:active, .docs-component-category-list-item[_ngcontent-c22]:focus, .docs-component-category-list-item[_ngcontent-c22]:hover {
    text-decoration: none;
}

.docs-component-category-list-item[_ngcontent-c22] {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 300px;
}