<mat-card class="my-shadow">
  <h2 class="my-center">Baja Masiva USAP</h2>
  <div class="example-container">

    <mat-form-field>
      <input matInput placeholder="Hash" [(ngModel)]="hash">
    </mat-form-field>

    <div class="row" class="derecha">
      <button mat-mini-fab color="primary" (click)="addTodosUSAP()"><i class="material-icons"> add </i></button>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6" style="display: flex; flex-direction: column;">
        <mat-form-field>
          <input matInput placeholder="Nombre" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-md-6" style="display: flex; flex-direction: column;">
        <mat-form-field>
          <mat-select [(value)]="selectedOrg" placeholder="Organizaciones">
            <mat-option *ngFor="let org of organizaciones" [value]="org.value">
              {{org.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <section class="main" *ngIf="todosUSAP.length > 0">
      <ul class="todo-list">
        <li *ngFor="let u of todosUSAP" [class.completed]="todosUSAP.complete">
          <div class="view">
            <label><strong>Nombre: </strong>{{u.name}}</label> &nbsp;&nbsp;
            <label><strong> Serie: </strong> {{u.selectString}} </label>

            <button mat-icon-button color="warn">
              <mat-icon (click)="removeUSAP(u)">highlight_off</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todosUSAP.length > 0">
      <span class="todo-count"> Cantidad <strong>{{todosUSAP.length}}</strong> {{todosUSAP.length ==
        1 ? 'USAP' : 'USAPs'}}
      </span>
    </footer>
    <br>
    <div class="example-button-row my-center">
      <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
      <button mat-raised-button routerLink="/menu" color="warn">Volver</button>
    </div>
  </div>

  <br>
  <mat-card *ngIf="listResultServer.length > 0">
    <h2 class="my-center">Resultados de las Bajas</h2>
    <div class="example-container">
      <div class="row">
        <div class="col-lg-3 col-md-3 my-center" *ngFor="let n of listResultServer">
          <mat-card class="my-bottom">
            <p class="my-title-table">{{n.nombre}}&nbsp;&nbsp;
              <i class="material-icons my-green">
                check
              </i>
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
</mat-card>
