




<!-- <div class="containter">
  <mat-card class="my-shadow">
    <h2 class="my-center">Estados de los Predios</h2>
    <div>
      <button mat-button mat-raised-button color="primary" (click)="changeZone(N)">Norte</button>
      <button mat-button mat-raised-button color="primary" (click)="changeZone(C)">Centro</button>
      <button mat-button mat-raised-button color="primary" (click)="changeZone(S)">Sur</button>
    </div> 
    <mat-card >
      <div id='mapa'></div>
    </mat-card>
  </mat-card>
</div> -->
<!-- <div class="containter">
  <mat-card class="my-shadow">
    <div class="example-container">
      <h2 class="my-center">Búsqueda de un Administrador</h2>
     
      <div class="example-button-row my-center">
        <button mat-raised-button color="primary">Buscar</button>
        <button mat-raised-button routerLink="/menu" color="warn">Volver</button>
      </div>
    </div>
    <br> -->
    <!-- <mat-card *ngIf="listResultServer.length > 0 && filtrados.length === 0">
      <h2 class="my-center">Resultados en las Provincias</h2>
      <div class="example-container">
        <div class="row">
          <div class="col-lg-3 col-md-3" *ngFor="let n of listResultServer">
            <p class="my-title-table">{{n.value}}&nbsp;&nbsp;&nbsp;<strong class="my-red">X</strong></p>
          </div>
        </div>
      </div>
    </mat-card> -->

  <!-- </mat-card>
</div> -->

<!-- <div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
<div>
  <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
  <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
</div> -->